
/* Custom Styles */
.navbar-brand img {
  width: 50px;
  border-radius: 50%;
 
}

.video-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}

.home .content {
  z-index: 2;
}
#navbarNav{
  margin-right: -98px;
}
.nav-item:hover{
  color: grey;
  /* font-size: 20px; */
  background-color:  #b4dddd;;
 
  border-radius: 26px;
}
.text-center {
  text-align: center !important;
  margin-top: 137px;
}
.about-img img {
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.about-img img:hover {
  transform: scale(1.1);
}


.Services-heading{
  padding-top: 70px ;
}
#services-container{
  padding-bottom: 90px;
}
.Services-cards{
  margin-top: -80px;
}
.box:hover {
  transform: translateY(-10px);
}

.box i {
  font-size: 3rem;
  color: #3a7d7d;
  margin-bottom: 20px;
}

.box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.box p {
  color: #777;
}

#contact-section{
  margin-top: 70px;
  padding-top: 1px;
}
.services .box,
.testimonials .testimonial,
.contact-section .contact-box {
  transition: transform 0.3s ease;
}

.services .box:hover,
.testimonials .testimonial:hover,
.contact-section .contact-box:hover {
  transform: translateY(-10px);
}
.Travelers-heading{
  margin-top:   70px;
}
.Travelers-cards{
  margin-top: -57px ;
}
.Travelers-cards p{
  color: #777;
}
.contact-box {
width: 338px;
height: 338px; /* Keep width and height equal for a circle */
border-radius: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 2px solid #3a7d7d;
padding: 15px;
text-align: center;
}
.contact-box:hover {
  transform: scale(1.1);
}
.contact-caption{
  margin-top: 10px;
}
.c-box{
height: 100%;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
}
/* Responsive Design */
@media (max-width: 768px) {
.contact-box {
width: 70vw; /* Adjust width based on viewport */
height: 70vw; /* Maintain circular shape */
margin-bottom: 7px;
}
}

@media (max-width: 480px) {
.contact-box {
width: 80vw;
height: 80vw;
margin-bottom: 7px;
}
}

